<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sid.xk.shake.template.mapper.SystemMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sid.xk.shake.template.entity.SystemMenu">
        <id column="id" property="id" />
        <result column="menu_code" property="menuCode" />
        <result column="menu_name" property="menuName" />
        <result column="menu_path" property="menuPath" />
        <result column="menu_icon" property="menuIcon" />
        <result column="menu_parent" property="menuParent" />
        <result column="sort" property="sort" />
        <result column="menu_status" property="menuStatus" />
        <result column="is_del" property="isDel" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, menu_code, menu_name, menu_path, menu_icon, menu_parent, sort, menu_status, is_del, remark
    </sql>

</mapper>
