<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sid.xk.shake.template.mapper.BasicWareareaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sid.xk.shake.template.entity.BasicWarearea">
        <id column="warearea_code" property="wareareaCode" />
        <result column="id" property="id" />
        <result column="warehouse_code" property="warehouseCode" />
        <result column="warearea_name" property="wareareaName" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, warearea_code, warehouse_code, warearea_name, remark
    </sql>

</mapper>
